.movie-card {
  width: 190px;
  margin: 1rem;
  position: relative;
  border-radius: 5px;
  padding: 0rem;
  padding-bottom: 0;
  box-shadow: 0 0 5px #000;

  &__link {
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__image-rating {
      position: relative;
      height: 315px;

      &__image {
        width: 100%;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        user-select: none;
      }

      &__rating {
        position: absolute;
        bottom: -0.5rem;
        left: 0.5rem;
        color: var(--white-1);
        width: 35px;
        height: 35px;
        border-radius: 50px;

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          display: inline-block;
          text-align: center;
          margin: 0;
          padding: 0;
          transform: translate(-50%, -50%);
          font-weight: 400;
        }
      }
    }

    &__title {
      margin: 0 1rem;

      h5 {
        margin: 0;
        padding: 0;
        letter-spacing: 1px;
        letter-spacing: 0.5px;
        font-weight: 400;
        font-size: 1rem;
        user-select: none;
      }
    }

    &__date {
      letter-spacing: 1px;
      margin-top: 0;
      font-size: 0.8rem;
      padding: 1rem;
      border-radius: 3px;
      font-weight: 400;
      user-select: none;
    }
  }

  &__add,
  &__delete {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: 1.2rem;
    background: #4cbb17;
    color: var(--white-1);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    text-align: center;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      text-align: center;
      margin: 0;
      padding: 0;
      transform: translate(-50%, -50%);
      font-weight: 700;
    }
  }

  &__add:hover {
    transform: rotate(360deg);
    transition: var(--transition);
  }

  &__delete {
    background: red;
  }

  &__delete:hover {
    transform: rotate(360deg);
    transition: var(--transition);
  }
}

// .movie-card:hover {
//   background-color: orange;
//   transition: var(--transition);
// }

// .movie-card:hover
//   .movie-card__link
//   .movie-card__link__image-rating
//   .movie-card__link__image-rating__rating {
//   border: 5px solid orange;
//   transition: var(--transition);
// }

// .movie-card:hover .movie-card__link .movie-card__link__title h5,
// .movie-card:hover .movie-card__link .movie-card__link__date span {
//   color: #000;
// }

@media screen and (max-width: 786px) {
  .movie-card {
    width: 160px;
    &__link {
      &__image-rating {
        height: 270px;
      }
      &__title {
        h5 {
          font-size: 0.8rem;
          line-height: 1.2rem;
        }
      }
      &__date {
        font-size: 0.7rem;
        letter-spacing: 0px;
      }
    }

    &__add,
    &__delete {
      bottom: 0.2rem;
      right: 0.2rem;
    }
  }
}

@media screen and (max-width: 640px) {
  .movie-card {
    margin: 1rem 0.7rem;

    &__link {
      &__date {
        font-size: 0.8rem;
      }
    }
  }
}

.lightBorder {
  border: 5px solid var(--white-1);
}

.darkBorder {
  border: 5px solid var(--dark-2);
}
