.list__main__category-sort-filter__sort {
  position: relative;
  margin-left: 1rem;

  &__closed {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 3px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;

    div {
      i {
        margin-right: 0.5rem;
      }
    }
  }

  &__opened {
    position: absolute;
    margin-top: 0.5rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 3px;

    span {
      padding: 0.5rem;
      margin: 0.2rem 0.5rem;
      cursor: pointer;
      border-radius: 3px;
      user-select: none;
      font-size: 0.9rem;
      letter-spacing: 1px;
      font-weight: 600;
    }

    .first {
      margin-top: 0.5rem;
    }

    .last {
      margin-bottom: 0.5rem;
    }

    span:hover {
      background: gold;
      color: var(--black);
      transition: var(--transition);
    }
  }
}
