.categories {
  position: fixed;
  width: 100vw;
  top: 4.3rem;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0;
  padding: 1.1rem 0;
  transition: top 0.5s ease;
  //box-shadow: 0 0 3px #000;

  &__main {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
    transition: all 0.5s ease;
    opacity: 1;

    &__options {
      display: flex;
      align-items: center;
      justify-content: center;

      //box-shadow: 0 0 3px #000;
      //border-radius: 50px;

      .option {
        margin: 0 1rem;
        padding: 0;
        text-transform: capitalize;
        letter-spacing: 1px;
        font-weight: 400;
        font-size: 1rem;
        cursor: pointer;
        text-decoration: none;
        //border-radius: 50px;
        user-select: none;
      }

      .menu {
        display: none;
        font-size: 1.2rem;
      }
    }

    &__filter__mode {
      display: flex;
      align-items: center;
      justify-content: center;

      .moon,
      .sun {
        font-size: 0.9rem;
        text-transform: capitalize;
        font-weight: 400;
        letter-spacing: 1px;
        padding: 0.3rem 0.5rem;
        border-radius: 50px;
        cursor: pointer;
        user-select: none;
        width: 60px;
        text-align: center;

        i {
          margin-right: 0.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .categories {
    &__main {
      flex-direction: row-reverse;

      &__options {
        .option {
          display: none;
        }

        .menu {
          display: flex;
          cursor: pointer;
        }
      }

      &__filter__mode {
        .menu {
          display: flex;
        }
      }
    }
  }
}

@media screen and (max-width: 786px) {
  .categories {
    top: 4.3rem;

    &__main {
      &__filter__mode {
        .moon,
        .sun {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .categories {
    &__main {
      padding: 0 1rem;
    }
  }
}

.activeDarkCategory {
  // background: var(--dark-2);
  // color: #fff;

  //box-shadow: 0 0 3px var(--dark-2);

  border-bottom: 2px solid var(--dark-2);
}

.activeLightCategory {
  // background: var(--white-1);
  // color: var(--dark-1);

  //box-shadow: 0 0 3px var(--white-1);

  border-bottom: 2px solid var(--white-1);
}
