.categories {
  position: fixed;
  width: 100vw;
  top: 3.7rem;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0;
  padding: 0.8rem 0;
  box-shadow: 0 0 3px var(--black);

  &__main {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

    &__options {
      display: flex;
      align-items: center;
      justify-content: center;

      .option {
        margin: 0;
        padding: 0;
        text-transform: capitalize;
        letter-spacing: 1px;
        margin-right: 2rem;
        font-weight: 400;
        font-size: 1rem;
        cursor: pointer;
        text-decoration: none;
        border-radius: 50px;
        user-select: none;
      }

      .menu {
        display: none;
        font-size: 1.2rem;
      }
    }

    &__filter__mode {
      display: flex;
      align-items: center;
      justify-content: center;

      .moon,
      .sun {
        font-size: 0.9rem;
        text-transform: capitalize;
        font-weight: 400;
        letter-spacing: 1px;
        padding: 0.3rem 0.5rem;
        border-radius: 50px;
        cursor: pointer;
        user-select: none;

        i {
          margin-right: 0.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .categories {
    &__main {
      flex-direction: row-reverse;

      &__options {
        .option {
          display: none;
        }

        .menu {
          display: flex;
          cursor: pointer;
        }
      }

      &__filter__mode {
        //flex-direction: row-reverse;

        .menu {
          display: flex;
        }
      }
    }
  }
}

@media screen and (max-width: 786px) {
  .categories {
    top: 3.6rem;

    &__main {
      &__filter__mode {
        .moon,
        .sun {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .categories {
    &__main {
      padding: 0 1rem;
    }
  }
}

.moonShadow {
  box-shadow: 0 0 20px var(--dark-2);
}

.sunShadow {
  box-shadow: 0 0 20px var(--white-1);
}
